{
  "machine": {
    "gpu": 0,
    "cpu": 1000,
    "ram": 100
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
          "/app/venv/bin/python",
          "main.py",
          "train_v2",
          "-t=simple-linear-regression.ipynb",
          "-i=/app/samples/kaggle/inputs/sasimple-linear-regression.zip"
        ],
        "Image": "ghcr.io/decenter-ai/compute.decenter-ai/decenter.compute.v1:main"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "Estuary"
      },
      "Resources": {
        "GPU": ""
      },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}